<template>
  <div>
    <v-app-bar
      color="primary"
      dark
    >
      <v-app-bar-nav-icon v-if="isLoggedin" @click="setDrawer"></v-app-bar-nav-icon>

      <v-toolbar-title>{{ $appSettings.title }}</v-toolbar-title>

      <v-spacer></v-spacer>
        <v-menu bottom>
            <template v-slot:activator="{ on }">
                <v-btn icon v-on="on">
                    {{ getLocalization.locale }}
                </v-btn>
            </template>

            <v-list>
                <v-list-item v-for="(lang, i) in getLocalization.availableLocales" :key="i"
                             @click="setLocalization(lang)">
                    <v-list-item-title>{{ lang }}</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
    </v-app-bar>
  </div>
</template>
<script>
    import { mapGetters } from 'vuex'

    export default {

        computed:
        {
            getLocalization: function () { return this.$i18n; },

            ...mapGetters(['isLoggedin']),
        },

        methods: {

            setLocalization: function (v) { this.$i18n.locale = v; }, 

            setDrawer: function ()
            {
                this.$emit('openDrawer');
            },
        }

    }
</script>