<template>
  <v-navigation-drawer
    v-model="drawer"
    app
    :clipped="$vuetify.breakpoint.lgAndUp"
    class="grey darken-3"
  >
    <v-list dense nav fixed class="pa-0">
      <v-card flat :rounded="false">
        <v-img
          class="white--text align-end fill-height"
          height="200px"
        >
          <div class="card-detail">
            <v-list-item three-line>
              <v-list-item-content>
                <v-list-item-title class="title pa-1">
                  {{ profile.anag.name + " " + profile.anag.surname }}
                </v-list-item-title>
                <v-list-item-subtitle class="caption pa-1">{{
                  profile.username
                }}</v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-avatar size="40" color="secondary">
                <v-btn @click="$router.push({name: 'user'})" text icon color="white">
                  <v-icon dark>
                    {{ getIconBySiteType }}
                  </v-icon>
                </v-btn>
              </v-list-item-avatar>
            </v-list-item>
            <!--                     <v-card-title class="white--text">
                        {{ profile.firstname + ' ' + profile.lastname }}
                        <v-btn v-if="editButton" text icon color="pink darken-2">
                            <v-icon small>fa-edit</v-icon>
                        </v-btn>
                    </v-card-title>
                    <v-card-subtitle>{{ profile.username }}</v-card-subtitle>
                    <v-card-subtitle class="text-caption">{{ profile.username }}</v-card-subtitle> -->
          </div>
        </v-img>
      </v-card>

      <v-divider></v-divider>

      <template v-for="(item, i) in permissions">
        <v-list-item
          v-if="item.level >= 0"
          class="tile"
          color="pink"
          :key="i"
          :to="$t(`$app.route.${item.code}`)"
        >
          <v-list-item-action class="mr-2">
            <v-icon color="white">$dashboard</v-icon>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title class="text-body-2 white--text">
              {{ $t(`$app.menu.${item.code}`) }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
      <v-divider></v-divider>
      <v-list-item @click="logout()" class="tile" color="pink">
        <v-list-item-action class="mr-2">
          <v-icon color="white">$logout</v-icon>
        </v-list-item-action>

        <v-list-item-content>
          <v-list-item-title class="white--text">
            {{ $t(`$app.menu.logout`) }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { AuthSignOff } from "@/store/actions.js";
import { mapState, mapGetters } from "vuex";

export default {
  props: {
    openDrawer: Boolean,
  },
  data() {
    return {
      drawer: null,
      background: false,
    };
  },
  methods: {
    logout: function() {
      this.$store
        .dispatch(AuthSignOff)
        .then(() => this.$router.push("/login", () => {}));
    },
    getUrlByPermissions(permissions) {
      return permissions != "DCR_EDIT" && permissions != "DCR_VALIDATION"
        ? this.$t(`$app.permissions.${permissions}`)
        : "DCR";
    },
  },
  watch: {
    openDrawer: function() {
      this.drawer = !this.drawer;
    },
  },
  computed: {
    menu: function() {
      return [
        {
          icon: "$dashboard",
          title: "home",
          to: {
            name: "home",
          },
        },
        {
          divider: true,
        },
        {
          logout: true,
          icon: "$logout",
          title: "logout",
          to: {
            name: "Home",
          },
        },
      ];
    },
    ...mapGetters({
      profile: "profile",
      permissions: "permissions",
      userSite: "userSite",
    }),
    getIconBySiteType: function() {
      return this.userSite.siteType == "PHARMACY"
        ? "fa-clinic-medical"
        : this.userSite.siteType == "ASL"
        ? "fa-hospital"
        : "fa-building";
    },
  },
  created() {
    /*             this.$store
                .dispatch(ServicesReq)
                .then(() => this.$router.push('/home', () => { }))		                .catch(function(reason) {
                console.log(reason)
                }) */
  },
};
</script>

<style scoped>
.tile {
  margin: 5px;
  border-radius: 4px;
}

.tile:hover {
  background: #ad1457;
}

.tile:active {
  background: #e91e63;
  opacity: 0.2;
}

.card-detail {
  margin-bottom: 2px;
  background-color: rgba(0, 151, 167, 0.38);
}
</style>
