<template>
    <v-container fill-height>
          <v-overlay
            :z-index="2"
            :absolute="true"
            :value="overlay"
            >
            <v-progress-circular
            indeterminate
            size="100"
            color="primary"
            ></v-progress-circular>
          </v-overlay>
        <v-row justify="center" align="center">
            <v-col 
                cols="12"
                xs="12"
                sm="8"
                md="8"
            >
            <v-alert
                v-if="error"
                dense
                outlined
                dismissible
                type="error"
                >
                {{ errorText }}
            </v-alert>
            <v-card flat>
                <v-toolbar
                color="primary"
                dark
                flat
                >
                    <v-toolbar-title class="white--text">
                        {{ $t(`$app.${header.title}`) }} 
                    </v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                    <v-form ref="form"
                            v-model="valid"
                            lazy-validation
                            v-on:keyup.native.enter="validate">
                        <v-text-field 
                            v-model="username"
                            :rules="[rules.mandatory]"
                            class="pa-2"
                            :prepend-icon="'$user'"
                            label="Username"/>
                        <v-text-field 
                            v-model="password"
                            :type="show ? 'text' : 'password'"
                            :prepend-icon="'$password'"
                            :rules="[rules.mandatory]"
                            label="Password"
                            @click:append="show = !show"
                            :append-icon="show ? '$show' : '$hide'"
                            class="pa-2" />
                    </v-form>
                </v-card-text>
                <v-card-actions class="justify-center pa-5">
                    <v-spacer />
                    <v-btn  
                        large
                        color="red darken-1"
                        class="white--text"
                        @click="reset()">
                        {{ $t(`$app.page.cancel`) }}
                    </v-btn>
                    <v-btn 
                        large
                        dark
                        color="tertiary"
                        @click="validate">
                        {{ $t(`$app.page.confirm`) }}
                    </v-btn>
                    <v-spacer></v-spacer>
                </v-card-actions>
            </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import i18n from '@/plugins/i18n'
import { AuthReq } from '@/store/actions.js'
import { mapGetters, mapState } from 'vuex'

export default {

    name: 'login',

    data: function ()
    {
        return {
            username: '',
            password: '',
            header:{
                icon: '$login',
                title: 'login.title',
                subtitle: 'login.subtitle'
            },
            show: false,
            error: false,
            errorText: "",
            rules:{
                mandatory: v => !!v || i18n.t('$app.rules.required')
            },
            valid: false,
            overlay: false
        }
    },

    computed:
    {
        ...mapGetters({
            authStatus: 'authStatus',
        })
    },

    watch: {
        authStatus: function(){
            if(this.authStatus == 'loading'){
                this.overlay = true
            }else{
                this.overlay = false
            }
        }
    },

    methods: {

        validate: function ()
        {
            if (this.$refs.form.validate())
            {
                let self = this
                let credentials = {
                    username: self.username,
                    password: self.password
                }
                this.error = false
                this.errorText = ""
                this.$store
                .dispatch(AuthReq, credentials)
                .then(() => this.$router.push('/home', () => { }))		   		
                .catch(function(reason) {
                    self.error = true
                    let text = "Error: Please try again!"
                    if(reason != undefined){
                        text = "["+reason.status+"] "+ reason.statusText + ": " + reason.data.non_field_errors
                    }
                    self.errorText = text
                })
            }
        },

        reset: function ()
        {
            this.$refs.form.reset();
        },

        resetValidation: function ()
        {
            this.$refs.form.resetValidation();
        }
    },

}
</script>