<template>
  <div id="app">
    <v-app id="inspire" :style="getStyle">
      <!-- APP BAR -->
      <AppBar v-if="isLoggedin" v-on:openDrawer="drawerChange" />

      <!-- NAVBAR -->
      <NavBar v-if="isLoggedin && !authStatus" :openDrawer="drawer" />
      <v-main>
        <router-view />
      </v-main>
      <v-snackbar v-model="snackbarShow">
        {{ snackbarText }}
        <template v-slot:action="{ attrs }">
          <v-btn color="pink" text v-bind="attrs" @click="snackbarShow = false">
            CHIUDI
          </v-btn>
        </template>
      </v-snackbar>
    </v-app>
  </div>
</template>

<script>
import { AuthSignOff, AuthReq, UserReq } from "@/store/actions.js";
import AppBar from "@/components/AppBar.vue";
import NavBar from "@/components/NavBar.vue";
import { mapGetters } from "vuex";
export default {
  components: {
    AppBar,
    NavBar,
  },
  data: () => ({
    drawer: false,
    search: false,
    snackbarText:'',
    snackbarShow: false,
/*     style: {
      backgroundImage: "url(" + require("@/assets/background-login.png") + ")",
      backgroundPosition: "center",
      backgroundRepeat: "no-repeat",
      backgroundSize: "cover",
    }, */
  }),
  created() {
    //this.pollUser()
    this.getUser();
  },
  computed: {
    ...mapGetters({
      isLoggedin: "isLoggedin",
      authStatus: "authStatus",
      snackbar: "snackbar"
    }),
    appVersion() {
      return process.env.VUE_APP_VERSION;
    },
    getStyle() {
      //return this.$route.name == 'login.title' ? this.style : '';
      return this.style;
    },
  },
  watch: {
    snackbar: function() {
      this.snackbarText = this.snackbar.text;
      this.snackbarShow = this.snackbar.show
    },
  },

  methods: {
    pollUser: function() {
      this.getUser();
      this.pollingUser = setInterval(() => {
        this.getUser();
      }, 15000);
    },
    getUser: function() {
      if (this.isLoggedin) {
        this.$store
          .dispatch(UserReq)
          .then(() => {})
          .catch(() => {
            this.$router.push("/login", () => {});
          });
      }
    },
    drawerChange: function() {
      this.drawer = !this.drawer;
    },
  },
};
</script>

<style scoped>

</style>
